.mivavpar{
   
    background-color: #625d5c;
background-image: linear-gradient(19deg, #625d5c 0%, #afa8c5 19%, #bb8c8c 39%, #876161 60%, #cbacac 80%, #7f6464 100%);

}

.lista-navbar {

    background: none;
    color: rgb(222, 222, 235);
    border: none;
}

.lista-navbar:hover {

    background-color: #625d5c;
    background-image: linear-gradient(19deg, #625d5c 0%, #89819a 19%, #a87070 39%, #a87c7c 60%, #897f7f 80%, #b9a3a3 100%);    
    border-radius: 20px;
    padding: 10px;    
}

.custom-font{

font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
font-size: 15px;
text-align: justify;
}

.mititle {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #111010;
   
  }

.card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 35%; 
    border: 1px solid #ccc; 
    margin: 5px;
  }
  
  /* Estilos personalizados para títulos y texto */
  .mititle {
    font-weight: bold;
    font-size: 15px;
  }
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .text {
    color: white;
    font-size: 24px; 
  }
  

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.service-box {
    width: calc(33.33% - 20px);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.service-box img {
    max-width: 150px;
}

.service-box h3 {
    font-size: 18px;
    margin: 10px 0;
}

.service-box p {
    font-size: 14px;
}

.service-box:hover {
    background-color: #625d5c;
    background-image: linear-gradient(19deg, #625d5c 0%, #89819a 19%, #a87070 39%, #a87c7c 60%, #897f7f 80%, #b9a3a3 100%);    
    border-radius: 20px;
    padding: 10px;
    
}

.mifooter{
    background-color: #625d5c;
    background-image: linear-gradient(19deg, #625d5c 0%, #89819a 19%, #a87070 39%, #a87c7c 60%, #897f7f 80%, #b9a3a3 100%);
display: flex;
justify-content: center;
}

.miitem{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
}

.miitem li{
    list-style: none;
    text-align: left;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
}

.miitem h4 {
    list-style: none;
    text-align: left;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 40px;
}


/*estilo de inscripcion*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.users-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    background: #625d5c; 
    background-image: linear-gradient(19deg, #625d5c 0%, #afa8c5 19%, #bb8c8c 39%, #876161 60%, #cbacac 80%, #7f6464 100%); /* Fondo con gradiente del navbar */
    border-radius: 20px;
    padding: 20px;
}

.users-form h1 {
    font-size: 36px; 
    margin-bottom: 20px;
    color: #fff; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    font-weight: bold;
}

.users-form input.form-input,
.users-form textarea.message-input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.users-form input.form-input:focus,
.users-form textarea.message-input:focus {
    background: #fff; 
}

.users-form textarea.message-input {
    height: 150px;
}

/* Estilos para el botón de envío del formulario en un tono morado */
.users-form button.submit-button {
    background-color: #c1b0df; /* Morado */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
}

.users-form button.submit-button:hover {
    background-color: #dda2e7; 
}

body{
    background-image: url("img/fondo.gif");

}

.miformulario{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: left;
    justify-content: left;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .parent {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 10px;
  }
  
  .child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .child:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px rgb(1, 49, 182);
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  
  .button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: left;
    align-items: left;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
  }
  
